language: android

jdk:
  - openjdk8

android:
  components:
    - tools
    - platform-tools
    - build-tools-28.0.2
    - android-28
    - extra-android-m2repository
    - extra-google-m2repository

before_install:
  - yes | sdkmanager "platforms;android-28"

script:
  - ./gradlew assemble pmd checkstyle

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/