<!-- Copyright (c) 2016, Miquel Martí <miquelmarti111@gmail.com> - See LICENSE for licensing information -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cat.mvmike.minimalcalendarwidget">

    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="false"
        tools:ignore="GoogleAppIndexingWarning">

        <receiver android:name=".application.MonthWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity
            android:name=".application.activity.PermissionsActivity"
            android:excludeFromRecents="true"
            android:initialLayout="@layout/loading"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".application.activity.ConfigurationActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Dialog" />

    </application>

</manifest>
