# https://github.com/actions
name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@v6
      # https://github.com/actions/setup-java
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'
          cache-dependency-path: |
            **/*.gradle*
            **/gradle-wrapper.properties
      # https://github.com/gradle/actions
      - uses: gradle/actions/wrapper-validation@v5

      - run: ./gradlew -Dorg.gradle.jvmargs=-Xmx4096m